<div
  style="min-height: 100vh"
  class="d-flex justify-content-center align-items-center w-100"
>
  <div class=".w-80 border-rounded p-5 card shadow">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <img
          src="https://img.freepik.com/free-vector/mobile-login-concept-illustration_114360-232.jpg?size=626&ext=jpg&ga=GA1.1.1430751802.1698048199&semt=ais"
          alt="login"
        width="100%"/>
      </div>

      <div class="col-lg-6">

        <!-- <pre>{{email}}  {{password}}</pre> -->
        <h2>Login Form</h2>
       
        <form [formGroup]="loginForm">

          <!-- invalid email -->

          
          <div class="mb-3">
            <input  type="email" class="form-control" placeholder="Email Address" email required
            name="email" formControlName="email" />
            <div *ngIf="loginForm.get('email')?.errors &&loginForm.get('email')?.touched" class="text-danger">Invalid email</div>

          </div>


          <!-- invalid password -->

         
          <div class="mb-3">
            <input 
              type="password"
              class="form-control"
              placeholder="Password" pattern="[a-zA-Z0-9]*" minlength="3" required
              name="password"  formControlName="password"
            />
            <div *ngIf="loginForm.get('password')?.errors &&loginForm.get('password')?.touched" class="text-danger">Invalid password</div>

          </div>

          <div class="mb-3">
            <input
              (click)="login()"
              type="submit"
              class="btn btn-success "
              value="Login" 
            />
          </div>

        </form>
        <p>Dont Have an account <span ><a href=""class="text-primary" routerLink="/register">Register</a></span></p>
      </div>
    </div>
  </div>
</div>